<h1>Enter a number to see the Ping Pong results</h1>
<form action='/result_display'>
  <div class="form-group">
    <label for="user_number">Your name</label>
    <input id="user_number" name="user_number" class="form-control" type="number" min="1">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
